#np-container {
    justify-content: space-between;
    align-content: center;
}

#dropdown-basic {
    background-color: white;
    border: 2px solid black;
    color: black;
    text-align: center;
    font-weight: 700;
    width: 15rem;
}

.dropdown-item {
    border-bottom: 1px solid black;
    text-align: center;
    font-weight: 400;
}