#nav-bar {
    background-color: #ED4A43;
    color: white;
    font-size: 1.5rem;
}

#brand {
    font-size: 2rem;
    font-weight: bold;
}

#brand:hover {
    cursor: pointer;
    color: lightgrey;
}

#nav-link1 {
    color: white;
}

#nav-link1:hover {
    color: lightgrey;
}

#nav-link2 {
    color: white;
}

#nav-link2:hover {
    color: lightgrey;
}

#searchText::placeholder {
    color: white;
    opacity: 1;
}

#searchText {
    border: white solid 2px;
    background-color: #ED4A43;
    color: white;
}

#searchText:focus {
    background-color: white;
    color: #ED4A43;
}

#searchBtn {
    color: #ED4A43;
}

#cart{
    display: flex;
}

#cartIcon{
    width: 2.5rem;
    height: 2.5rem;
    align-content: center;
}

#cartIcon:hover{
    color: lightgrey;
    cursor: pointer;
}