.primary-bg {
    background-color: #ED4A43;
}

.pink-color {
    color: #ED4A43;
}

#nav-bar {
    color: #fff;
    font-size: 1.5rem;
}

.primary-text {
    color: #fff;
}

.nav-brend-font {
    font-size: 2rem;
    font-style: bold;
}