/*
.primary-bg {
    background-color: #ED4A43;
}

.pink-color {
    color: #ED4A43;
}

#nav-bar {
    color: #fff;
    font-size: 1.5rem;
}

.primary-text {
    color: #fff;
}

.nav-brend-font {
    font-size: 2rem;
    font-style: bold;
}*/
#nav-bar {
    background-color: #ED4A43;
    color: white;
    font-size: 1.5rem;
    height: 4rem;
}

#brand {
    font-size: 2.5rem;
    font-weight: bold;
}

#brand:hover{
    cursor: pointer;
    color: lightgrey;
}

#nav-link1 {
    color: white;
}

#nav-link1:hover {
    color: lightgrey;
}

#nav-link2 {
    color: white;
}

#nav-link2:hover {
    color: lightgrey;
}

#searchText::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
}

#searchText{
    border: white solid 2px;
    background-color: #ED4A43;
    color: white;
}

#searchText:focus{
    background-color: white;
    color: #ED4A43;
    width: 300px;
}

#searchBtn{
    color: #ED4A43;
}